Assets/SteamVR_Unity_Toolkit/
Assets/SteamVR/
Assets/VRSampleScenes/Models/Flyer/FlyerPlayership.fbx.meta
Assets/VRSampleScenes/
Library/metadata/
Library/
Temp/
Assets/VRStandardAssets/
Assets/SteamVR_Unity_Toolkit.meta
VRTestHarness_Remote*
